* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --main-color: hsl(322, 100%, 66%);
    --sec-color: hsl(321, 100%, 78%);
    --tr: hsl(0, 100%, 63%);
    --r: hsl(192, 100%, 9%);
    --y: hsl(207, 100%, 98%);
}
body {
    width: 1440px;
    margin: auto;
}
.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
/* start header */
.header {
    margin-top: 75px;
    font-family: 'Poppins', sans-serif;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    width: 140px;
    text-align: center;
    border: solid 2px var(--main-color);
    padding: 15px;
    color: var(--main-color);
    text-decoration: none;
    border-radius: 30px;
}
.header a:hover {
    border: solid 2px var(--sec-color);
    color: var(--sec-color);
}
/* end header */
/* start section-1 */
.section-1 {
    margin-top: 235px;
}
.section-1 .container {
    text-align: center;
}
.section-1 .container .info p {
    max-width: 512px;
    margin: 30px auto 45px;
}
.section-1 .container .info a {
    color: hsl(207, 100%, 98%);
    background-color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    padding: 20px 100px;
    border-radius: 40px;
    box-shadow: 0px 7px 12px 0px #d6dfde;
}
.section-1 .container .info a:hover {
    background-color: var(--sec-color);
}
.section-1 .container .image {
    margin: 120px auto;
}
.section-1 .container .nums {
    display: flex;
    justify-content: space-around;
}
.section-1 .container .nums div {
    text-align: initial;
}
.section-1 .container .nums div h2 {
    font-size: 62px;
}
/* end section-1 */
/* start section-2 */
.section-2 {
    margin-top: 300px;
    height: 520px;
}
.section-2 {
    display: flex;
    position: relative;
    background-color: hsl(207, 100%, 98%);
    justify-content: space-around;
    align-items: center;
}
.section-2::after {
    content: "";
    width: 100%;
    height: 165px;
    background-image: url(../images/bg-section-top-desktop-1.svg);
    position: absolute;
    top: -165px;
    z-index: 0;
}
.section-2::before {
    content: "";
    width: 100%;
    height: 139px;
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
    position: absolute;
    bottom: -130px;
    z-index: 0;
}
.section-2 .info {
    width: 500px;
}
.section-2 .image{
    width: 550px;
}
.section-2 .image img {
    width: 100%;
}
/* end section-2 */
/* start section-3 */
.section-3 {
    margin-top: 300px;
    height: 520px;
}
.section-3 {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}
.section-3 .info {
    width: 500px;
}
.section-3 .image{
    width: 550px;
}
.section-3 .image img {
    width: 100%;
}
/* end section-3 */
/* start section-4 */
.section-4 {
    margin-top: 300px;
    height: 520px;
}
.section-4 {
    display: flex;
    position: relative;
    background-color: hsl(207, 100%, 98%);
    justify-content: space-around;
    align-items: center;
}
.section-4::after {
    content: "";
    width: 100%;
    height: 156px;
    background-image: url(../images/bg-section-top-desktop-2.svg);
    position: absolute;
    top: -155px;
    z-index: 0;
}
.section-4::before {
    content: "";
    width: 100%;
    height: 139px;
    background-image: url(../images/bg-section-bottom-desktop-2.svg);
    position: absolute;
    bottom: -130px;
    z-index: 0;
}
.section-4 .info {
    width: 500px;
}
.section-4 .image{
    width: 550px;
}
.section-4 .image img {
    width: 100%;
}
/* end section-4 */
/* start section-5 */
.section-5 {
    height: 520px;
    display: flex;
    align-items: flex-end;
}
.section-5 .container {
    text-align: center;
}
.section-5 .container h2 {
    text-align: center;
    margin-bottom: 50px;
}
.section-5 .container a {
    color: hsl(207, 100%, 98%);
    text-align: center;
    background-color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    padding: 20px 100px;
    border-radius: 40px;
    box-shadow: 0px 7px 12px 0px #d6dfde;
}
.section-5 .container a:hover {
    background-color: var(--sec-color);
}
/* end section-5 */
/* start footer */
.footer {
    display: flex;
    margin-top: 335px;
    justify-content: space-around;
    color: hsl(207, 100%, 98%);
    background-color: hsl(192, 100%, 9%);
    padding: 40px 0;
    position: relative;
}
.footer ::before {
    content: "";
    background-image: url(../images/bg-footer-top-desktop.svg);
    position: absolute;
    width: 100%;
    height: 158px;
    top: -155px;
    left: 0;
    z-index: 0;
}
.footer .l {
    width: 370px;
}
.footer .l img {
    filter: invert(1) grayscale(1);
}
.footer .l p {
    margin-top: 30px;
}
.footer .l .comun {
    margin-top: 25px;
}
.footer .l .comun img {
    filter: none;
    margin-right: 10px;
}
.footer .l .comun .mali {
    margin-top: 15px;
}
.footer .l .media {
    margin-top: 15px;
}
.footer .l .media img {
    margin-right: 10px;
}
.footer .l .media img:hover {
    filter: invert(63%) sepia(78%) saturate(1396%) hue-rotate(141deg) brightness(98%) contrast(101%);
}
.footer .r {
    width: 390px;
}
.footer .r h3 {
    font-size: x-large;
    margin-top: 15px;
}
.footer .r p {
    margin-top: 25px;
}
.footer .r .input {
    margin-top: 20px;
}
.footer .r .input .email {
    height: 40px;
    width: 250px;
    border-radius: 10px;
}
.footer .r .button {
    height: 45px;
    border-radius: 10px;
    padding: 0 28px;
    background-color: var(--main-color);
    color: hsl(207, 100%, 98%);
    font-weight: 700;
}
.footer .r .button:hover {
    background-color: var(--sec-color);
}
/* end footer */
/* start media queries */
@media(max-width: 375px) {
    .section-2::after {
        content: "";
        background-image: url(../images/bg-section-top-mobile-1.svg);
        position: absolute;
        top: -110px;
        width: 100%;
        height: 112px;
        
    }
    .section-2::before {
        content: "";
        background-image: url(../images/bg-section-bottom-mobile-1.svg);
        position: absolute;
        bottom: -49px;
        width: 100%;
        height: 52px;
        
    }
    .section-4::after {
        content: "";
        background-image: url(../images/bg-section-top-mobile-2.svg);
        position: absolute;
        top: -100px;
        width: 100%;
        height: 103px;
        
    }
    .section-4::before {
        content: "";
        background-image: url(../images/bg-section-bottom-mobile-2.svg);
        position: absolute;
        bottom: -90px;
        width: 100%;
        height: 101px;
        
    }
    .footer ::before {
        content: "";
        background-image: url(../images/bg-footer-top-mobile.svg);
        position: absolute;
        width: 100%;
        height: 53px;
        top: -43px;
        left: 0;
    }
}
@media(max-width: 1440px) {
    body {
        width: 100%;
    }
    .container {
        width: calc(100% - 40px);
    }
    .section-1 .container .image img {
        width: 100%;
    }
    .header .container .logo {
        width: 27%;
    }
    .header .container a {
        width: 27%;
        font-size: 10px;
        padding: 4px;
    }
    .header {
        margin-top: 30px;
    }
    .section-1 {
        margin-top: 90px;
    }
    .section-1 .container .info h1 {
        font-size: 20px;
    }
    .section-1 .container .info p {
        font-size: 11px;
    }
    .section-1 .container .info a {
        font-size: 11px;
        padding: 20px 60px;
    }
    .section-1 .container .nums {
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .section-1 .container .nums .mess {
        margin-top: 90px;
    }
    .section-2 {
        margin-top: 200px;
        flex-wrap: wrap-reverse;
        padding: 50px 30px;
    }
    .section-2 .info {
        text-align: center;
    }
    .section-2 .info p {
        font-size: 13px;
        margin-top: 30px;
    }
    .section-3 {
        margin-top: 200px;
        flex-wrap: wrap;
        padding: 0 30px;
    }
    .section-3 .info {
        text-align: center;
    }
    .section-3 .info p {
        font-size: 13px;
        margin-top: 30px;
    }
    .section-4 {
        margin-top: 200px;
        flex-wrap: wrap-reverse;
        padding: 50px 30px;
    }
    .section-4 .info {
        text-align: center;
    }
    .section-4 .info p {
        font-size: 13px;
        margin-top: 30px;
    }
    .section-5 .container a {
        font-size: 11px;
        padding: 20px 60px;
    }
    .section-5 .container h2 {
        font-size: 20px;
    }
    .footer {
        flex-wrap: wrap-reverse;
        padding: 50px 30px;
    }
    .footer .r {
        width: none;
    }
    .footer .r p {
        font-size: 14px;
    }
    .footer .r .input {
        text-align: end;
    }
    .footer .l {
        width: none;
        margin-top: 90px;
    }
    .footer .l .logo {
        width: 200px;
    }
}
/* end media queries */